#PostPage {
    position: absolute;
    width: 400px;
    height: 550px;
    margin-left: 25%;
    margin-top: 20px;
    .Post__image{
        margin-top: 10%;
        
    }
    .Post__date{
        position: relative;
        margin-left: 10%;
        margin-top: 5%;
    }
    .Post__actions{
        width: 50px;
        position: relative;
        
    }
}