
.navbar{
    background: linear-gradient(49.2deg ,#9a0db6,#ee2a7b,#f9ca32,#f14a2d );
    width: 100%;
    display: flex;
    position: relative;
    height: 70px;
}



.App__Loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 99;
    text-align: center;
    padding-top: 100px;
}
@media screen and (max-width: 575px){
    #instaimg{
        display: none;
    }
}

#Login{
    margin-top: 20px;
    
    #image2{
        padding: 20px;
    }
}




